<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)">
    (bpCreated)="onAddBlueprintAdded($event)">
  </app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change First Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy First Element
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <h2>Assignment</h2> 
  <div class="row">
    <app-game-control (numberEmitter)="assignEventsValue($event)"></app-game-control>
    <div *ngFor="let event of this.events;" class="col-xs-12">
        <ng-container *ngIf="ngIf(event); else odd">
          <app-even [number]="event"></app-even>
        </ng-container>
        <ng-template #odd>
          <app-odd [number]="event"></app-odd>
        </ng-template>
    </div>
  </div>
</div>


